* {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*FONT-RULES*/

@font-face {
    font-family: "Radioactive";
    src: url(fonts/IM_Fell/imfellenglish-regular-webfont.woff2) format("woff2"),
         url(fonts/IM_Fell/imfellenglish-regular-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Radioactive";
    src: url(fonts/IM_Fell/imfellenglish-italic-webfont.woff2) format("woff2"),
         url(fonts/IM_Fell/imfellenglish-italic-webfont.woff) format("woff");
         font-weight: normal;
         font-style: italic;
}

@font-face {
    font-family: "Cinzel";
    src: url(fonts/Cinzel/cinzel-variablefont_wght-webfont.woff2) format("woff2"),
         url(fonts/Cinzel/cinzel-variablefont_wght-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}


/*CONTAINER*/

.grid-container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 3fr;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}



/*HEADER*/

.header {
    grid-column: 1 / span 2;
    display: grid;
    place-items: center;
    background: linear-gradient(toright, blue, red);
    border: 1px solid blue;
}

.lib-intro {
    line-height: 1.6;
    display: grid;
}

.mythic {
    justify-self: center;
    line-height: 1.2;
    display: grid;
    font-family: "Radioactive", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    font-weight: 600;
}

.outro {
    padding-top: 8px;
    justify-self: end;
    font-style: italic;
}

h1 {
    font-family: "Cinzel";
    font-size: 2.5rem;
}



/*SIDE-PANEL*/

.side-panel {
    border: 1px solid red;
    padding: 60px 10px 20px 10px;
}

.panel {
    height: 75%;
    width: 100%;
    border-radius: 10px;
    border: 5px solid black;
    position: sticky;
    top: 40px;
}



/*MAIN BOOK SECTION*/

.main {
    border: 1px solid green;
    display: grid;
    grid-template-rows: 45px 1fr;
    gap: 15px;
}

        /*SECTION*/

.category {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid navy;
}

p[class^="section"] {
    font-size: 1.5rem;
}

        /*BOOKS*/

.books {
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: stretch;
    gap: 5px;
    padding: 0px 15px 20px;
}

.books > * {
    border-radius: 10px;
    max-width: 190px;
    max-height: 190px;
    aspect-ratio: 1 / 1;
    background-color: lightblue;
}

.add-book {
    background: linear-gradient(145deg, blue, red);
    order: 2;
}