* {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template: 1fr 3fr / 1fr 3fr;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

.header {
    grid-column: 1 / span 2;
    background: linear-gradient(toright, blue, red);
    border: 1px solid blue;
}

.side-panel {
    border: 1px solid red;
}

.main {
    border: 1px solid green;
}