* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*GLOBAL CUSTOM PROPERTIES*/

:root {
  --dark-blue: #141726;
  --side: #1d1f31;
  --book-border: #f0f0f0;
  --book-background: rgba(215, 201, 201, 0.4);
  --label: rgba(0, 90, 255, 0.3);
}

/*FONT-RULES*/

@font-face {
  font-family: "Radioactive";
  src: url(fonts/IM_Fell/imfellenglish-regular-webfont.woff2) format("woff2"),
    url(fonts/IM_Fell/imfellenglish-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Radioactive";
  src: url(fonts/IM_Fell/imfellenglish-italic-webfont.woff2) format("woff2"),
    url(fonts/IM_Fell/imfellenglish-italic-webfont.woff) format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cinzel";
  src: url(fonts/Cinzel/cinzel-variablefont_wght-webfont.woff2) format("woff2"),
    url(fonts/Cinzel/cinzel-variablefont_wght-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Almendra";
  src: url(fonts/Almendra/almendrasc-regular-webfont.woff2) format("woff2"),
    url(fonts/Almendra/almendrasc-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

/*CONTAINER*/

.grid-container {
  display: grid;
  grid-template: 1fr 4fr / 1fr 3fr;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

/*HEADER*/

.header {
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--dark-blue);
  color: white;
}

.lib-intro {
  line-height: 1.6;
  display: grid;
}

.mythic {
  justify-self: center;
  line-height: 1.2;
  display: grid;
  font-family: "Radioactive", sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue";
  font-weight: 600;
}

.outro {
  padding-top: 8px;
  justify-self: end;
  font-style: italic;
}

h1 {
  font-family: "Cinzel";
  font-size: 2.5rem;
}

.lantern {
  width: 100px;
  height: 210px;
  filter: invert(1) brightness(1.2);
}

.lantern path {
  fill: #4b2e00; 
  filter: drop-shadow(0 0 4px #ffa500aa) drop-shadow(0 0 10px #ffb84daa)
    drop-shadow(0 0 20px #ff900033) drop-shadow(0 0 30px #ffae0055);
  transition: filter 0.4s ease-in-out;
}

.lantern:hover path {
  filter: drop-shadow(0 0 8px #ffc76dcc) drop-shadow(0 0 18px #ffbb4533)
    drop-shadow(0 0 25px #ffbb4544) drop-shadow(0 0 40px #ffb94d77);
}

/*SIDE-PANEL*/

.side-panel {
  /* border: 1px solid red; */
  padding: 45px 0px 20px 10px;
  background-color: var(--dark-blue);
}

.panel {
  height: 75%;
  width: 100%;
  border-radius: 10px;
  background: url(images/leonardo-yip-BjyR9nSIJko-unsplash.jpg) center / cover no-repeat;
  position: sticky;
  top: 30px;
  padding: 40px 20px 40px;
}

  /*FORM*/

#oni {
  width: 65px;
  height: 65px;
  filter: invert(0.7) brightness();
  justify-self: center;
    filter: drop-shadow(0 0 4px #ffa500aa) drop-shadow(0 0 10px #ffb84daa)
    drop-shadow(0 0 20px #ff900033) drop-shadow(0 0 30px #ffae0055);
  transition: filter 0.4s ease-in-out;
  
}

#side-form {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.8em;
}

.wrap {
  display: grid;
  gap: 5px;
}

.complete {
  display: flex;
  gap: 5px;
}

.cover {
  display: flex;
  justify-content: center;
}

label {
  color: rgba(250, 250, 250, 0.8);
  text-shadow: 0 0 4px #ffa500aa, 0 0 10px #ffb84daa, 0 0 20px #ff900033, 0 0 30px #ffae0055;
  font-size: 1.2em;
  font-family: "Radioactive", sans-serif;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
}

form button {
  height: 2rem;
  width: 5.5rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 4px #ffa500aa, 0 0 10px #ffb84daa, 0 0 20px #ff900033, 0 0 30px #ffae0055;
  font-family: "Cinzel", sans-serif;
  font-weight: 800;
  color: gray;
}

input {
  border-radius: 6px;
  border: none;
  height: 1.5rem;
  padding-left: 5px;
  font-family: "Radioactive", sans-serif;
  font-weight: 900;
  outline: none;
}

input:focus {
  box-shadow: 0 0 4px #005affaa, 0 0 10px #0047b2aa, 0 0 20px #006fff33, 0 0 30px #0051ff55;
}

  /*FORM VISIBILITY*/

.hidden {
  display: none;
  opacity: 0;
}

  /*FORM ANIMATION*/

.fade-in {
  animation: fadeIn 0.6s ease forwards;
}

.fade-out {
  animation: fadeOut 0.6s ease backwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.98);
  }
}


/*MAIN BOOK SECTION*/

.main {
  display: grid;
  grid-template-rows: 45px 1fr;
}

/*SECTION*/

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-bottom: 10px;
  background-color: var(--dark-blue);
  color: lightgray;
}

p[class^="section"] {
  font-size: 1.5rem;
  font-family: "Almendra", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 700;
  cursor: pointer;
}

/*BOOKS*/

.books {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: stretch;
  gap: 12px;
  padding: 0px 15px 20px;
  grid-auto-rows: 190px;
  background-color: var(--dark-blue);
}

.books > * {
  border-radius: 10px;
  max-width: 190px;
  max-height: 190px;
  aspect-ratio: 1 / 1;
  background-color: var(--book-background);
  border: 2px solid var(--book-border);
}

.add-book {
  order: 2;
  border: none;
  background: none;
  display: grid;
  place-content: center;
}

.add-book:hover {
    background-color: var(--book-background);
    cursor: pointer;
}

.plus {
    width: 150px;
    height: 150px;
    filter: invert(1) brightness(0.8);
}